<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ban</title>
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/chrome.css">
    <link rel="stylesheet" href="../assets/css/ban.css">
</head>
<body>
    <site-header title="Forum" subtitle="Account status"></site-header>

    <main>
        <div id="banContainer">
            <h1>
                You have been banned
            </h1>
            <div id="banRules">
                <p>Your account has been banned for breaching one of the following rules:</p>
                
                <ul>
                    <li>
                        obscene content
                    </li>
                    <li>
                        illegal content
                    </li>
                    <li>
                        offensive content
                    </li>
                </ul>

            </div>
        </div>
    </main>

    <site-footer title="Forum"></site-footer>
    <script src="../assets/js/chrome.js" defer></script>
</body>
</html>
