<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ban</title>
    <link rel="stylesheet" href="../assets/css/ban.css">
    <link rel="stylesheet" href="../assets/css/header.css">
</head>
<body>
    <header>
        <h2>Group Name</h2>

        <nav>
            <a href="#">Notif</a>
            <a href="#">Profile</a>
        </nav>

        <button id="burger">
            <img src="../assets/img/header/burger.png" alt="menu" >
        </button>
    </header>

    <main>
        <div id="banContainer">
            <h1>
                You have been banned
            </h1>
            <div id="banRules">
                <p>Your account has been banned for breaching one of the following rules:</p>
                
                <ul>
                    <li>
                        obscene content
                    </li>
                    <li>
                        illegal content
                    </li>
                    <li>
                        offensive content
                    </li>
                </ul>

            </div>
        </div>
    </main>

    <script src="../assets/js/burger.js" defer></script>
</body>
</html>