<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/chrome.css">
    <link rel="stylesheet" href="../assets/css/profile.css">
</head>

<body>
    <site-header title="Forum" subtitle="Account status"></site-header>

    <main>
        <div id="profileHead">
            <img src="../assets/img/profile/banner.jpg" alt="Banner">
            <span id="profilePhotoName">
                <img src="../assets/img/profile/photo.jpg" alt="Profile Photo">
                <div id="photoName">
                    <h4 id="pseudo">Username</h4>
                    <p id="description">Description</p>
                </div>
            </span>
        </div>

        <div id="profileContent">
            <div id="left">
                <div id="infos">
                    <div class="titleOfBlock">
                        <p>Informations</p>
                    </div>

                    <div class="infosPart">
                        <p class="infosName">Role</p>
                        <p class="infosValue">User</p>
                    </div>

                    <div class="infosPart">
                        <p class="infosName">Status</p>
                        <p class="infosValue" id="isOnline">Online</p>
                    </div>

                    <div class="infosPart">
                        <p class="infosName">UID</p>
                        <p class="infosValue">XXXXXX</p>
                    </div>

                    <div class="infosPart">
                        <p class="infosName">Regisration Date</p>
                        <p class="infosValue">23 March, 2019</p>
                    </div>

                    <div class="infosPart">
                        <p class="infosName">Last Visit</p>
                        <p class="infosValue">Less than 1 minute ago</p>
                    </div>

                    <div id="InfosBtns" class="infosPart">
                        <button>More</button>
                        <button>Trustscan</button>
                        <button>Items</button>
                    </div>
                </div>
            </div>

            <div id="center">
                <div id="statistiques">
                    <div class="titleOfBlock">
                        <p>Statistics</p>
                    </div>

                    <div id="statsContent">
                        <div class="statsPart">
                            <p class="statsValue">11</p>
                            <p class="statsName">Threads</p>
                        </div>

                        <div class="statsPart">
                            <p class="statsValue">122</p>
                            <p class="statsName">Posts</p>
                        </div>

                        <div class="statsPart">
                            <p class="statsValue">4</p>
                            <p class="statsName">Likes Given</p>
                        </div>

                        <div class="statsPart">
                            <p class="statsValue">5</p>
                            <p class="statsName">Commentaries</p>
                        </div>
                    </div>
                </div>

                <div id="posts">

                    <div class="titleOfBlock">
                        <p>Lasts Posts</p>
                    </div>

                    <div id="postContent">
                        
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../assets/js/parseMdProfile.js" defer></script>

    <site-footer title="Forum"></site-footer>
    <script src="../assets/js/chrome.js" defer></script>
</body>

</html>